<ul class="menu">
    <% if (isAdmin) {%>
        <li>
            <a href="/user-manager.html" class="user">用户管理</a>
         </li>
    <% } %>
    <li>
        <a href="/moblie-manager.html" class="phoneList">手机列表</a>
    </li>
</ul>